@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* when our classes repeat use custom classes for that */
.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}

@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayIsBlue md:text-5xl;
  }
}

@layer base {
  p {
    @apply max-w-3xl mx-auto mb-10 text-xl leading-9 text-grayIsBlue;
  }
}

.button-container {
  @apply p-4 px-8 rounded-full shadow-lg duration-200 hover:opacity-80;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  body {
    background-image: url('/images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}